node_modules
dist
dist-ssr
*.local
.vite

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment (we'll set on Vercel)
.env
.env.local
.env.production
